body {  
    background-attachment: scroll;
    background-color: black;
    background-position: bottom;
    background-repeat: no-repeat;
    color: whitesmoke; 
    font-family: Muli, sans-serif;
    font-size: 16px;
}

p {
    color: whitesmoke; 
    font-family: "Space Mono", monospace;
    font-size: 22px;
    margin-left: 10%;
    text-align: justify;
    width: 80%;
}

table {
    width: 100%;
}

.accordion-button {
    background-color: whitesmoke;
    font-size: 1rem;
}

.accordion-button:not(.collapsed) {
    background-color: black;
    box-shadow:inset 0 0px 0;
    color: whitesmoke;
    font-style: italic;
    transform: rotate(0deg);
}

.accordion-button:not(.collapsed)::after {
    background-image: unset;
    color: red;
}

.accordion-flush {
    color: black;
    height: 8cm;
    margin-left: 10%;
    margin-top: 3cm;
    width: 80%;
}

.accordion-item {
    background-color: whitesmoke;
    font-family: "Space Mono", monospace;
    font-size: 22px;
    font-style: italic;
    margin-top: 0.25cm;
    text-align: center;
}

.btn-primary {
    background-color: whitesmoke;
    border-color: black;
    color: black;
}

.btn-primary:hover {
    background-color: black;
    border-color: whitesmoke;
    color: whitesmoke;
} 

.btn-rectangle-social {
    height: 60pt;
    max-height: 100%;
    max-width: 100%;
    padding: 18pt;
    text-align: center;
    width: 300pt;
}

.btn-square-social {
    height: 70px;
    max-height: 100%;
    max-width: 100%;
    padding: 0px;
    text-align: center;
    width: 70px;
}

.card-body {
    background-color: whitesmoke;
    color: black;
    font-family: "Space Mono", monospace;
    padding: 0.3cm;
    padding-bottom: 0pt;
    padding-left: 0pt;
    text-align: justify;
}

.container {
    position: fixed;
    width: 30%;
}

.container:hover .overlay {
    height: 100%;  
}

.fa {
    padding: 20px;
}

.first-project {
    margin-bottom: 5%;
    margin-left: 18%;
    margin-top: 0%;
    width: 25%;
}

.image {
    display: block;
    height: auto;
    width: 100%;
}

.img_left {
    float: left;
    margin-left: 10%;
    width: 10%;
}

.main-info {
    font-family: "Space Mono", monospace;
    font-size: 46px;
}

.overlay {
    background-color: black;
    bottom: 0;
    height: 0;
    left: 0;
    overflow: hidden;
    position: absolute;
    right: 0;
    transition: .5s ease;
    width: 100%;
}

.row {
    font-size: 15px;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 10%;
}

.second-project {
    margin-left: 52%;
    margin-top: 0%;
    width: 25%;
}
  
.text_right {
    float: right;
    margin-right: 10%;
    width: 70%;
}  

.text {
    color: whitesmoke;
    font-family: "Space Mono", monospace;
    font-size: 20px;
    left: 50%;
    overflow: hidden;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    white-space: nowrap; 
    -ms-transform: translate(-50%, -50%);
}

#buttons-near-photo {
    margin-left: 27%;
}

#copyright {
    font-size: 14px; 
    text-align: center;
}

#for_contact {
    margin-top: 2%;
}

#icon_social {
    font-size: 20pt;
    margin-left: 10%; 
    margin-top: 2%;
    width: 80%; 
}

#icon-social-rectangle {
    font-size: 25pt;
    margin-left: 31%; 
    margin-top: 0%;
    width: 400pt; 
}

#lines {
    height: 20px;
    margin-top: 1.5cm;
    object-position: 100% 100%;
    opacity: 1;
    padding: 0px;
    width: 100%;
}

#logo {
    background-image: url('img_flowers.jpg');
    background-repeat: no-repeat;
    background-size: contain;
    height: 400px;
    width: 100%;
}

#myself {
    height: 6cm;
    margin-left: 10%;
    width: 4.4cm;
}

#quote {
    font-size: 18px; 
    margin-top: 10%;
    text-align: center; 
}

#table-contents {
    color: whitesmoke; 
    font-weight: bold;
    margin-bottom: 0.5em;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0.7em;
    text-align: center;
    text-decoration: none;
}

#table-contents:hover {
    color: whitesmoke; 
    font-weight: bold;
    margin-bottom: 0.5em;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0.7em;
    text-align: center;
    text-decoration: underline;
}

#table-contents-chosen {
    color: whitesmoke; 
    font-weight: bold;
    margin-bottom: 0.5em;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0.7em;
    text-align: center;
    text-decoration: underline;
}

#text-social {
    margin-top: 35%;
    text-align: center;
}

#top-text {
    margin-top: 4%;
}